In [1]:
#Emily Chen
#QLSC612 Fundamentals of Neuro Data Science
#Project assessment
#May 2020

In [2]:
print("Hello World")

Hello World

In [20]:
#Import modules
import random as rd
import pandas as pd
import csv

In [19]:
#Load the brainsize.csv file
brainsize_file = ('/Users/emilychen/GitHub/Chen-E-QLSC612/practical/brainsize.csv')
brainsize = pd.read_csv(brainsize_file,sep=";") #Create pandas dataframe
brainsize.head() #Print beginning of file

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ Weight Height  MRI_Count
0           1  Female   133  132  124    118   64.5     816932
1           2    Male   140  150  124      .   72.5    1001121
2           3    Male   139  123  150    143   73.3    1038437
3           4    Male   133  129  128    172   68.8     965353
4           5  Female   137  132  134    147   65.0     951545

In [21]:
#Generate random numbers for variable partY
print(rd.randint(0,1000))

845

In [28]:
#Print the columns of the pandas dataframe
brainsize.columns

Index(['Unnamed: 0', 'Gender', 'FSIQ', 'VIQ', 'PIQ', 'Weight', 'Height',
       'MRI_Count'],
      dtype='object')

In [37]:
#Print the length of the pandas dataframe 
num_rows = len(brainsize.index)
print(num_rows)

40

In [50]:
#Create a list of random integers for partY of length 40 (number of data rows)
partY_values = []
for i in range(num_rows): 
    i = rd.randint(0,1000)
    partY_values.append(i)

print(partY_values)

40

In [51]:
#Random noise is any continuous value from a distribution

In [52]:
#Add a new column named "partY" to the .csv file
brainsize["partY"] = partY_values

In [53]:
brainsize.head()

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ Weight Height  MRI_Count  partY
0           1  Female   133  132  124    118   64.5     816932    235
1           2    Male   140  150  124      .   72.5    1001121    317
2           3    Male   139  123  150    143   73.3    1038437    559
3           4    Male   133  129  128    172   68.8     965353    656
4           5  Female   137  132  134    147   65.0     951545    934

In [55]:
#Using random.normal
import numpy as np
noise = np.random.normal(0,1,40)
print(len(noise))
print(noise)

40
[ 0.78587092 -0.74961737  2.04328713 -1.02983402  1.26373102 -2.68428552
  0.32524944 -1.11651318 -0.31641452 -0.50832666  0.16486115  0.02269388
  1.20430936 -0.74399744 -1.33330195 -1.46818729  0.53193068 -0.08344152
 -0.38012666  0.29453208 -0.74913177  1.49245828 -0.44844808 -0.56931896
 -0.52542468 -0.19411008  0.56428837  0.71734329 -0.27689328  0.48315188
  1.17354188 -0.04906004 -0.60637939  0.88170173 -0.68245792 -0.92411861
  0.40386645  0.15206197 -1.38988173  0.93433134]